
@import url("fonts.css");

@import url("https://fonts.googleapis.com/css?family=Raleway:500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");

@import url("reset.css");

body {
   font-family: "Inter", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

.page__construction {
   background: #0E333D;
   margin-bottom: 50px;
   padding: 94px 0;
}

[class*="__container"] {
   max-width: 1203px;
   padding: 0 15px;
   margin: 0 auto;
}

.body-page {
   text-align: center;
   line-height: 1.27;
   color: #fff;
}

.body-page:not(:last-child) {
   margin-bottom: 50px;
}

.body-page > p,
.body-page__label {
   font-family: "Raleway", sans-serif;
   margin-bottom: 34px;
   font-weight: 500;
   font-size: 20px;
}

.body-page__title {
   font-family: "DM Serif Text", serif;
   font-size: 48px;
   margin-bottom: 23px;
}

.body-page__options {
   display: flex;
   gap: 41px;
   justify-content: center;
   margin-bottom: 77px;
}
.body-page__option {
   position: relative;
}

.body-page__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   opacity: 0;
}

.body-page__label {
   font-size: 18px;
   font-weight: 600;
   margin: 0;
   cursor: pointer;
}

.body-page__label::after {
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background-color: #fff;
   transition: width 0.3s;
}

.body-page__label:hover::after {
   width: 100%;
}

.body-page__input:checked + .body-page__label::after {
   width: 100%;
}

.body-page__cards {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
   row-gap: 30px;
}

.body-page__column {
   flex: 0 0 25%;
   padding: 0 15px;
}

.body-page__card {
   display: flex;
   flex-direction: column;
   gap: 17px;
}

.body-page__link {
   transition: transform 0.3s;
   cursor: pointer;
}

.body-page__link:hover {
   transform: scale(1.05);
}

.body-page__image {
   width: 100%;
   height: 100%;
   aspect-ratio: 270 / 270;
   object-fit: cover;
   border-radius: 5px;
   margin-bottom: 17px;
}

.body-page__text {
   text-align: left;
   font-family: "Cormorant Infant", sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 140%;
   transition: text-decoration 0.3s;
}

.body-page__text a:hover{
   transform: scale(1);
   text-decoration: underline;
}

.body-page__text:not(:last-child) {
   margin-bottom: 5px;
}

@media (max-width: 997px) {
   .page__construction {
      padding: 70px 0;
   }
}

@media (max-width: 770px) {
   .body-page__column {
		flex: 1 0 50%;
	}

   .page__construction {
      padding: 50px 0;
   }

   .body-page__options {
      margin-bottom: 50px; 
   }

   .body-page__options {
      margin-bottom: 44px;
   }

   .body-page__title {
      margin-bottom: 21px;
   }

   .body-page > p {
      margin-bottom: 32px;
   }
}

@media (max-width: 430px) {
   .body-page__column {
		flex: 1 0 100%;
	}

   .page__construction {
      padding: 38px 0;
   }

   .body-page__options {
      margin-bottom: 40px;
   }

   .body-page__title {
      margin-bottom: 20px;
   }

   .body-page > p {
      margin-bottom: 30px;
   }
}

@media (max-width: 380px) {
   .body-page__options {
      gap: 21px;
   }
}

/*---------------------------------Second part------------------------*/

.page__construction--modify {
   background-color: #fff;
   padding: 0;
   margin-bottom: 50px;
}

.body-page--modify {
   color: #000;
}

.body-page--modify > p {
   color: #818181;
   font-family: "Cormorant Infant", sans-serif;
   font-size: 30px;
   line-height: 1.4;
   font-weight: 700;
   margin-bottom: 62px;
}

.title {
   color: #291403;
   font-size: 58px;
   line-height: 1;
   margin-bottom: 27px;
}

.body-page__cards--margin {
   margin-bottom: 76px;
}

.body-page__button {
   font-family: "Ubuntu", sans-serif;
   color: #FFF;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.875;
   padding: 12px 42.5px;
   background: #FF7A49;
}

.body-page__button:hover {
   background: #ed612f;
}

.body-page__button:active {
   background: #ed612f;
}

@media (max-width: 770px) {
   .body-page__cards--margin {
      margin-bottom: 50px;
   }

   .body-page--modify > p {
      margin-bottom: 50px;
   }
}

@media (max-width: 430px) {
   .body-page__cards--margin {
      margin-bottom: 30px;
   }

   .body-page--modify > p {
      margin-bottom: 40px;
   }
}

/*-------------------------------------Third part----------------------------*/

.page-container {
   position: relative;
   padding-bottom: 50px;
}

.page-container__body {
   max-width: 1197px;
   font-family: "Inter", sans-serif;
   color: #000;
   font-size: 16px;
   line-height: 1.6;
   padding: 0 15px;
   margin: 0 auto;
   flex-wrap: wrap;
}

.page-container__body > p {
   color: #606060;
   font-size: 20px;
   line-height: 1.8;
   margin-bottom: 60px;
}

.page-container__title,
.page-container__card-title {
   font-family: "DM Serif Text", serif;
}

.page-container__cards {
   display: flex;
   margin: 0 -24px;
   flex: 0 1 auto;
   row-gap: 30px ;
}

.page-container__column {
   flex: 0 1 33.333%;
}

.page-container__card {
   display: flex;
   flex-direction: column;
   row-gap: 16px;
   max-height: 100%;
   padding: 0 24px;
}
.page-container__image {
   width: 100%;
   height: 100%;
   aspect-ratio: 357 / 240;
   object-fit: cover;
}
.page-container__card-title {
   font-size: 24px;
   line-height: 1.2;
}

.page-container__link-body {
   display: inline-flex;
}

.page-container__link {
   color: #F55529;
   font-weight: 800;
   line-height: 1.5;
   flex-grow: 1;
   position: relative;
   top: 0;
   left: 0;
   transition: all 0.3s;
}

.page-container__link:hover{
   left: 4px;
   text-decoration: underline;
}

.page-container__arrow {
   flex: 0 0 24px;
   background: url("../img/arrow-right.svg")center no-repeat;
}

.page-container__deco {
   position: absolute;
   right: -100px;
   bottom: -50px;
   z-index: -1;
   transition: opacity 0.3s;
}

@media (max-width: 1380px) {
   .page-container__deco{
      opacity: 0.2;
   }
}

@media (max-width: 1000px) {
   .page-container__body > p{
      margin-bottom: 45px;
   }
}

@media (max-width: 770px) {
   .page-container__column {
      flex: 0 1 50%;
   }

   .page-container__title {
      margin-bottom: 23px;
   }

   .page-container__body > p{
      margin-bottom: 40px;
   }

   .page-container__cards {
      display: flex;
      flex-wrap: wrap;
   }
}

@media (max-width: 450px) {
   .page-container__column {
      flex: 0 1 100%;
   }

   .page-container__title {
      margin-bottom: 20px;
   }

   .page-container__body > p{
      margin-bottom: 33px;
   }
}
