
@import url("fonts.css");

@import url("reset.css");

body {
   font-family: "Causten", sans-serif;
   font-size: 22px;
   color: #807D7E;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex: 1 0 auto;
}

[class*="__container"] {
   max-width: 1270px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   position: fixed;
   width: 100%;
   z-index: 500;
   padding: 32px 0;
   background-color: #fff;
   border-bottom: 1px solid #BEBCBD;
}

.header__container {
   display: flex;
   align-items: center;
   flex: 1 1 auto;
   flex-wrap: wrap;
}

.header__list {
   flex-wrap: wrap;
}

.header__logo {
   margin-right: 88px;
}

.header__logo--margin {
   margin-right: 164px;
}

.header__list {
   margin-right: 75px;
   display: flex;
   gap: 40px;
}

.header__item {
   font-weight: 500;
   transition: all 0.2s;
}

.header__item:hover {
   color: #3C4242;
   font-weight: 700;
}

.header__search {
   display: flex;
   flex: 0 0 267px;
   padding: 12px 20px;
   align-items: center;
   gap: 12px;
   margin-right: 76px;
   padding: 12px 20px;
   border-radius: 8px;
   background: #F6F6F6;
   font-size: 16px;
   transition: all 0.2s;
}

.men-search {
   padding: 12px 48px;
   flex: 0 0 184px;
   margin-right: 210px;
}

.header__search::before {
   content: url("../img/lupe.svg");
   vertical-align: middle;
}

.header__search:hover {
   background-color: #c4c4c4;
}

.header__language {
   position: relative;

   color: #333;
   font-size: 18px;
   margin-right: 89px;
}

.language__item img {
   position: absolute;
   top: 8px;
   left: 100%;

   padding-left: 19px;
}

.header__component {
   padding: 14px 12px 12px 12px;
   border-radius: 8px;
   background: #F6F6F6;
   transition: all 0.3s;
}

.header__button {
   padding: 12px 48px;
   color: #8A33FD;
   font-size: 18px;
   font-weight: 500;
   border-radius: 8px;
   border: 1px solid #3C4242;
}

.header__button:not(:last-child) {
   margin-right: 29px;
}

.header__button:hover {
   border: 1px solid #8A33FD;
   color: #fff;
   background-color: #8A33FD;
}

.heart::before {
   content: url("../img/heart.svg");
}

.heart:hover::before {
   content: url("../img/heart-white.svg");
}

.user::before {
   content: url("../img/user.svg");
}

.user:hover::before {
   content: url("../img/user-white.svg");
}

.basket::before {
   content: url("../img/basket.svg");
}

.basket:hover::before {
   content: url("../img/basket-white.svg");
}

.header__component:hover {
   background-color: #8A33FD;
}

.header__component:not(:last-child) {
   margin-right: 12px;
}

.page {
   padding: 125px 0;
}

.page__title {
   font-family: "Core Sans C", sans-serif;
   color: #3C4242;
   font-size: 34px;
   font-weight: 600;
   line-height: 98.53%;
   letter-spacing: 0.68px;
   background: url("../img/line.svg") 0 1px no-repeat;
   padding-left: 26px;
   margin-bottom: 70px;
}

.page__container{

}

.products {
   display: flex;
   margin: 0 -25px;
   flex-wrap: wrap;
}

.products__column {
   padding: 0 25px;
   flex: 0 0 25%;
   margin-bottom: 50px;
}

.products__item {

}

.item-product {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.item-product__image {
   overflow: hidden;
   border-radius: 10px;
}

.item-product__image img {
   max-width: 100%;
}

.item-product__image:not(:last-child) {
   margin-bottom: 15px;
}

.item-product__body {
   display: flex;
   flex: 1 0 auto;
}

.item-product__content {
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
}

.item-product__title {
   color: #2A2F2F;
   display: block;
   font-size: 17.875px;
   font-weight: 700;
   line-height: 1.562;
   letter-spacing: -0.715px;
}


.item-product__text {
   color: #7F7F7F;
   font-size: 13.4px;
   font-weight: 500;
   line-height: 2.083;
   letter-spacing: -0.536px;
}

.item-product__arrow {
   align-self: flex-start;
   min-height: 50px;
   flex: 0 0 18px;
   background: url("../img/arrow-right.svg") center no-repeat;
}
