@import url("fonts.css");

@import url("reset.css");

body {
   background-color: #a05555;
   padding: 150px 30px;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 500;

   font-family: "Causten", sans-serif;
   width: 100%;
   color: rgb(54, 161, 207);
   background-color: rgb(114, 38, 186);
   font-size: 35px;
   padding: 20px 0;
   text-align: center;
}
.header__link:not(:last-child) {
   margin-right: 20px;
}

.header__link:hover {
   text-decoration: underline;
}

.testing-block {
   font-size: 0;
}

.testing-block--margin {
   margin-bottom: 200px;
}

h3 {
   font-size: 35px;
   font-family: "Causten", serif;
   visibility: hidden;
   color: rgb(46, 46, 222);
   opacity: 0;
   transition: all 1s;
}

.testing-item {
   background-color: hsla(0, 7%, 29%, 0.378);
   width: 200px;
   height: 200px;
   display: inline-block;
   font-size: 15px;
   margin-bottom: 150px;
   transition: opacity 0.5s;
}

.testing-item:hover h3 {
   visibility: visible;
   opacity: 1;
}

.testing-item:not(:last-child) {
   margin-right: 150px;
}

.testing-item__block {
   background-color: rgb(213, 213, 35);
   width: 200px;
   height: 200px;
   transition: all 0.5s;
}

.testing-item__block--translate:hover {
   transform: translate(10%,10%);
}

.testing-item__block--scale:hover {
   transform: scale(0.75);
}

.testing-item__block--skew:hover {
   transform: skew(10deg,10deg);
}

.testing-item__block--rotate:hover {
   transform: rotate(45deg);
}

.testing-item__block--few:hover {
   transform: translate(20px,20px)
   scale(0.75) rotate(35deg);
}

.testing-item--translate3d:hover {
   perspective: 500px;
}

.testing-item__block--translate3d:hover {
   transform: translate3d(30px,30px,50px);
}

.testing-item--scale3d:hover {
   perspective: 500px;
   perspective-origin: bottom center;
}

.testing-item__block--scale3d:hover {
   transform: scale3d(1,-0.75,1);
}

.testing-item--rotate3d:hover {
   perspective: 400px;
}

.testing-item__block--rotate3d:hover {
   transform: rotate3d(1.5,1.5,1,43deg);
}

.testing-item--flat:hover {
   perspective: 500px;
}

.testing-item__block--flat:hover {
   transform: scale(0.75) rotateY(30deg);
   transform-style: flat;
}

.testing-item--preserve3d:hover {
   perspective: 500px;
   transform-style: preserve-3d;
}

.testing-item__block--preserve3d:hover {
   transform: scale(0.75) rotateY(30deg);
}


/*----------------------My Car-------------*/


@keyframes move {
   0% {
      transform: scale(0.5) translateX(1000px);
   }
   100% {
      transform: scale(0.5) translateX(500px);
   }
}

.page {
   position: relative;
}

.road {
   position: absolute;
   top: 390px;
   left: 0;

   width: 2000px;
   height: 10px;
   background-color: #000000;
}

@keyframes sign-move {
   0% {
      transform: translateX(-400px);
   }

   100% {
      transform: translateX(2500px);
   }
}

.sign-01,
.sign-02,
.sign-03,
.sign-04 {
   width: 300px;
   height: 200px;
   background-color: rgb(44, 44, 233);
   border-radius: 10px;
   border: 1px solid #000000;

   position: absolute;
   top: 0;
   left: -500px;

   animation-name: sign-move;
   animation-duration: 6s;
   animation-timing-function: linear;
}

.sign-01 {
   animation-delay: 2s;
}

.sign-02 {
   animation-delay: 9s;
}

.sign-03 {
   animation-delay: 16s;
}

.sign-04 {
   animation-delay: 23s;
}


.sign-01:before {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 0px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-01:after {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 290px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-02:before {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 0px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}
.sign-02:after {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 290px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-03:before {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 0px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-03:after {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 290px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-04:before {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 0px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-04:after {
   display: inline-block;
   content: "";

   position: absolute;
   top: 190px;
   left: 290px;

   width: 10px;
   height: 200px;
   background-color: #000000;
}

.sign-01__decor {
   width: 250px;
   height: 150px;
   background-color: rgb(44, 44, 233);
   border-radius: 10px;
   border: 5px solid #ffffff;
   margin-left: 25px;
   margin-top: 25px;
   font-size: 40px;
   color: #fff;
   text-align: center;
   padding-top: 50px;
}

.car-body {
   position: relative;
   padding: 100px 200px 100px 300px;
   transform: scale(0.5) translateX(1000px);
   /*animation-name: move;*/
   animation-duration: 3s;
   animation-iteration-count: infinite;
}


.car-body--margin {
   margin-bottom: 600px;
}

.roof {
   width: 790px;
   height: 20px;
   background-color: rgb(196, 187, 175);
   transform: skew(20deg,0);
   border-radius: 0px 200px 70px 0px;
   border-top: 1px solid #000000;
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000;
}

.top-front {
   width: 50px;
   height: 50px;

   position: absolute;
   top: 100px;
   left: 250px;
   background-color: rgb(196, 187, 175);
   border-left: 1px solid #000000;
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000;
   transform: skew(-20deg,0);
   border-radius: 200px 0px 0px 0px;
}

.front-window {
   width: 48px;
   height: 150px;

   position: absolute;
   top: 150px;
   left: 215px;
   background: linear-gradient(218deg,#00e0ff 0%, #ffffff 50%, #00e0ff 80%);
   transform: skew(-20deg,0);
   border: 1px solid #000000;
}

.under-window {
   position: absolute;
   top: 300px;
   left: 166px;
   
   background-color: #564f4f;
   width: 70px;
   height: 20px;
   border-radius: 200px 0px 0px 0px;
   border: 1px solid #000000;
}

.second-window {
   width: 158px;
   height: 200px;

   position: absolute;
   top: 150px;
   left: 250px;
   background: linear-gradient(218deg,#00e0ff 0%, #ffffff 50%, #00e0ff 80%);
   transform: skew(-20deg,0);
   border-left: 10px solid #000000;
   border-top: 1px solid #000000;
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000;
   border-radius: 0px 0px 0px 20px;
   z-index: 100;
   transition-duration: 0.9s;
   transition-property: background-color;
}

.front {
   width: 250px;
   height: 200px;
   border-radius: 150px 0px 0px 20px;
   
   position: absolute;
   top: 320px;
   left: 40px;
   
   background-color: rgb(196, 187, 175);
   border: 1px solid #000000;
}

.mirror {
   width: 60px;
   height: 85px;

   position: absolute;
   top: 260px;
   left: 245px;
   z-index: 101;

   transform: skew(-20deg,0);
   border-radius: 0px 20px 0px 20px;
   background-color: #564f4f;
   border: 1px solid #000000;
}

.light {
   width: 50px;
   height: 60px;

   position: absolute;
   top: 440px;
   left: 60px;
   z-index: 102;

   background: linear-gradient(218deg,#00e0ff 0%, #ffffff 50%, #00e0ff 80%);
   border-radius: 0px 0px 30px 0px;
   border: 1px solid #000000;
}

.bamper {
   width: 1055px;
   height: 75px;

   position: absolute;
   top: 520px;
   left: 35px;
   z-index: 103;

   background-color: #564f4f;
   border-radius: 10px 10px 50px 50px;
   border: 1px solid #000000;
}

.line {
   position: absolute;
   top: 50%;
   left: 0;
   
   width: 100%;
   height: 1px;
   background-color: #000000;
   
}

.main-body {
   width: 850px;
   height: 200px;
   border-radius: 0px 0px 0px 0px;
   
   position: absolute;
   top: 320px;
   left: 240px;
   
   background-color: rgb(196, 187, 175);
   border: 1px solid #000000;
   border-radius: 0px 0px 0px 50px;
}

.top {
   width: 120px;
   height: 200px;
   
   position: absolute;
   top: 120px;
   left: 265px;
   transform: skew(-20deg,0);
   border-left: 1px solid rgb(196, 187, 175);
}

.top-main {
   width: 790px;
   height: 200px;
   
   position: absolute;
   top: 120px;
   left: 300px;
   border-left: 1px solid rgb(196, 187, 175);
}

.for-wheels {
   position: absolute;
   top: 480px;
   left: 150px;
   z-index: 115;
   
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: #a05555;
}

.for-wheels--position {
   position: absolute;
   top: 480px;
   left: 800px;
   z-index: 115;
}


.tire {
   width: 180px;
   height: 180px;

   position: absolute;
   top: 490px;
   left: 160px;
   z-index: 115;

   background-color: black;
   border-radius: 50%;
}

.back-tire {
   position: absolute;
   top: 490px;
   left: 810px;
   z-index: 115;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}

.wheel {
   width: 140px;
   height: 140px;

   position: absolute;
   top: 510px;
   left: 180px;
   z-index: 116;

   background-color: rgb(18, 18, 75);
   border-radius: 50%;
   animation-name: rotate;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.back-wheel {
   position: absolute;
   top: 510px;
   left: 830px;
   z-index: 116;
}

.circle {
   width: 30px;
   height: 30px;
   
   position: absolute;
   top: 55px;
   left: 55px;
   z-index: 117;
   
   border-radius: 50%;
   background-color: #fff;
}

.decor {
   width: 100%;
   height: 3px;
   background-color: #fff;

   position: absolute;
   top: 70px;
   left: 0px;
   z-index: 118;
}

.decor:nth-child(2) {
   transform: rotate(90deg);
}

.decor:nth-child(3) {
   transform: rotate(45deg);
}

.decor:nth-child(4) {
   transform: rotate(135deg);
}

.back-light {
   position: absolute;
   top: 390px;
   left: 1035px;
   z-index: 500;

   width: 50px;
   height: 100px;
}
.bl-top {
   height: 33px;
   background: linear-gradient(90deg,#d66b1c 0%, #ffffff 50%, #d66b1c 80%);
   border-radius: 50px 0px 0px 0px;
}

.bl-mid {
   height: 34px;
   background-color: #8d8383;
}

.bl-bottom {
   height: 33px;
   background: linear-gradient(90deg,#d66b1c 0%, #ffffff 50%, #d66b1c 80%);
}