@use 'sass:math';
@import "_fonts.scss";
@import "_reset.scss";
@import "_functions.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");


body {
   font-family: "Inter", sans-serif;
   color: #37393F;
}

[class*="__container"] {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 15px;
   flex-wrap: wrap;
}

.wrapper {
   overflow: clip;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   & main {
      flex-grow: 1;
   }
}

.header {
   display: flex;
   flex-direction: column;
}
.top-header {
   background-color: #37393F;
   color: #fff;
   width: 100%;
   position: fixed;
   z-index: 50;

   &__container {
      display: flex;
      justify-content: space-between;
      column-gap: toRem(15);
      padding: toRem(21.5) 0;
      font-size: toRem(14);
      column-gap: toRem(20);
      row-gap: toRem(20);

      & a:hover {
         text-decoration: underline;
      }

      @media (max-width: toRem(875)) {
         justify-content: center;
      }
   }

   &__left {
      display: flex;
      gap: toRem(46);
      align-items: center;
   }

   &__address {
      display: flex;
      align-items: center;
      column-gap: toRem(9);
   }

   &__email {
      display: flex;
      align-items: center;
      column-gap: toRem(9);
      flex-wrap: wrap;
   }

   &__right {
      display: flex;
      align-items: center;
      gap: toRem(46);
      & p {
         display: flex;
         align-items: center;
         column-gap: toRem(4);
         vertical-align: middle;
      }
   }

   &__social {
      display: flex;
      flex-wrap: wrap;
      gap: toRem(16);
   }

   &__icon {
      width: toRem(17.1);
      height: toRem(16.455);
      transition: transform 0.3s;
      &:hover {
         transform: scale(1.3);
      }
   }
}

.main-header {
   background-color: #fff;
   color: #37393F;
   width: 100%;
   position: fixed;
   z-index: 49;
   padding-top: toRem(66);
   
   @media (max-width: toRem(874.98)) {
      padding-top: toRem(103);
   }

   @media (max-width: toRem(361)) {
      padding-top: toRem(130);
   }

   @media (max-width: toRem(327.98)) {
      padding-top: toRem(140);
   }
   
   &__container {
      padding: toRem(33) 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(15);
      
      @media (max-width: toRem(770)) {
         justify-content: center;
      }
   }

   &__logo {
      color: #37393F;
      font-family: "Poppins", sans-serif;
      font-size: toRem(25);
      font-weight: 700;
      & span {
         color: #6B77E5;
      }
   }

   &__menu {
      display: flex;
      column-gap: toRem(41);
      flex-wrap: wrap;
      row-gap: toRem(10);
      
      @media (max-width: toRem(841)) {
         column-gap: toRem(30);
      }

      @media (max-width: toRem(737)) {
         padding: 0 toRem(15);
         justify-content: center;
      }

   }

   &__menu-item {
      font-size: toRem(18);
      & img {
         vertical-align: middle;
      }

      & a:hover {
         text-decoration: underline;
      }
   }

   &__button {
      padding: toRem(21)  toRem(35);
      background-color: #6B77E5;
      color: #FFF;
      font-size: toRem(18);
      font-weight: 600;
      text-transform: capitalize;
      &:hover {
         background-color: #4958df;
      }
   }
}

///zminni

$containerWidth: toRem(529);
$minWidth: toRem(130);

/// shablon

%sectionTitle {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   @include adaptiveValue("font-size", 40, 27, 0, 767.98, 320);
   font-weight: 700;
   line-height: 1.21;
}

%sectionLabel {
   color: #FFF;
   @include adaptiveValue("font-size", 18, 14, 0, 767.98, 320);
   font-weight: 600;
   line-height: 1.46;
   background: url(../img/hero/quadrat.svg)no-repeat left;
   padding-left: toRem(18);
   margin-bottom: toRem(10);
}

%contentTitle {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: toRem(20);
   font-weight: 600;
}

.hero {
   padding-top: toRem(192);
   &__bg {
      height: 100vh;
      background: url(../img/hero/hero-photo.jpg) no-repeat center;
      background-size: cover;
   }

   &__construction {
      height: 100vh;
      max-width: 43.125%;
      padding-left: 6.09%;
      padding-right: 6.09%;
      background-color: rgba(55, 57, 63, 0.91);
      backdrop-filter: blur(toRem(9.5));
      @media (max-width: toRem(991.98)) {
         max-width: 100%;
         min-height: 100%;
         padding-top: 11rem;
      }

      @media (max-width: toRem(874.98)) {
         padding-top: 12.5rem;
      }

      @media (max-width: toRem(768.98)) {
         padding-top: 14rem;
      }

      @media (max-width: toRem(481.98)) {
         padding-top: 13rem;
      }

      
   }

   &__body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      row-gap: toRem(35);
      @media (max-width: toRem(991.98)) {
         height: auto;
      } 
   }

   &__text {
      text-align: left;
      max-width: toRem(595);
      & p {
         color: #B9B9B9;
         font-size: toRem(18);
         font-weight: 500;
         line-height: 1.46;
         min-height: 100%;
         @include adaptiveValue("font-size", 18, 14, 0, 992, 320);
      }

      & p:not(:last-child) {
         margin-bottom: toRem(10);
      }
      @media (max-width: toRem(991.98)) {
         max-width: 100%;
      }
   }

   &__label {
      @extend %sectionLabel;
      @include adaptiveValue("font-size", 18, 14, 0, 992, 320);
   }

   &__main-title {
      color: #FFF;
      font-family: "Poppins", sans-serif;
      font-size: toRem(60);
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: toRem(20);
      max-width: toRem(529);
      
      @include adaptiveValue("font-size", 60, 50, 0, 1920, 1440);
      @include adaptiveValue("font-size", 50, 35, 0, 992, 320);
      & span {
         color: #40DDB6;
      }
      @media (max-width: toRem(991.98)) {
         max-width: 100%;
      }
   }

   &__buttons {
      display: flex;
      max-width: toRem(595);
      column-gap: toRem(30);
      @media (max-width: toRem(1290)) {
         flex-direction: column;
         align-content: flex-start;
         column-gap: 0;
         row-gap: toRem(15);
      }
      @media (max-width: toRem(991.98)) {
         max-width: 100%;
         flex-direction: row;
         column-gap: toRem(30);
      }
      @media (max-width: toRem(767.98)) {
         row-gap: 0.9rem;
      }
      @media (max-width: toRem(481.98)) {
         flex-direction: column;
         align-items: center;
      }
   }

   &__button {
      color: #37393F;
      font-weight: 600;
      font-size: toRem(18);
      text-transform: capitalize;
      background-color:  #40DDB6;
      padding: toRem(21) toRem(27);
      max-width: toRem(185);
      @include adaptiveValue("font-size", 18, 14, 0, 992, 320);
      &:hover {
         background-color:  #25b591;
      }
      @media (max-width: toRem(991.98)) {
         justify-content: center;
      }
      @media (max-width: toRem(481.98)) {
         display: flex;
         flex-grow: 0;
         justify-content: center;
         align-content: center;
      }
   }

   &__video {
      color: #FFF;
      font-size: toRem(18);
      font-weight: 600;
      text-transform: capitalize;
      @include adaptiveValue("font-size", 18, 14, 0, 992, 320);
      & img {
         vertical-align: middle;
         position: relative;
         bottom: toRem(3);
         transition: transform 0.3s;
         @media (max-width: toRem(481.98)) {
            transform: scale(0.6);
         }
      }

      &:hover {
         text-decoration: underline;

         & img {
            transform: scale(1.1);
         }
      }
   }
}

.business {
   @include adaptiveValue("margin-bottom", 100, 35, 0, 1920, 320);
   &__container {
      max-width: toRem(1220);
      flex-wrap: nowrap;
      display: flex;
      padding-left: 0;
      padding-right: 0;

      @media (max-width: toRem(767.98)) {
         flex-wrap: wrap;
      }
   }

}

.left-business {
   display: flex;
   flex-direction: column;
   row-gap: toRem(20);
   flex-grow: 0;
   @include adaptiveValue("padding-top", 151, 25, 0, 1920, 320);
   @include adaptiveValue("padding-bottom", 151, 25, 0, 1920, 320);
   background-color: #F4F4F4;
   padding-right: toRem(67);
   @media (max-width: toRem(1150)) {
      padding: toRem(5);
   }
   @media (max-width: toRem(767.98)) {
      width: 100%;
      padding: 0 toRem(15);
      padding-bottom: toRem(35);
      padding-top:toRem(35);
   }
   
   &__img {
      width: 100%;
      height: 100%;
      aspect-ratio: 408 / 446;
      object-fit: cover;
   }

   &__text {
      display: flex;
      flex-direction: column;
      row-gap: toRem(14);
      align-items: flex-start;
      max-width: toRem(477);
   
      & p {
         color: #7D7D7D;
         @include adaptiveValue("font-size", 18, 14, 0, 767.98, 320);
         line-height: 1.46;
      }
   }
   
   &__title {
      @extend %sectionTitle;
      @include adaptiveValue("font-size", 30, 23, 0, 767.98, 320);
      font-weight: 600;
   }

   &__link {
      color: #37393F;
      font-size: toRem(18);
      font-weight: 600;
      text-transform: capitalize;
      &:hover {
         text-decoration: underline;
      }
   }
}

.business-right {
   padding-left: toRem(69);
   @include adaptiveValue("padding-top", 151, 25, 0, 1920, 320);
   @include adaptiveValue("padding-bottom", 151, 25, 0, 1920, 320);
   @media (max-width: toRem(767.98)) {
      width: 100%;
      padding: 0 toRem(15);
      padding-top: toRem(35);
   }
   &__construction {
      display: flex;
      @include adaptiveValue("gap", 43, 25, 0, 767.98, 320);
      flex-direction: column;
      max-width: toRem(741);
   }

   &__body {
      display: flex;
      gap: toRem(20);
      flex-direction: column;
   }

   &__label {
      @extend %sectionLabel;
      color: #37393F;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 1rem;
   }

   &__title {
      @extend %sectionTitle;
   }

   &__text {
      & p {
         color: #7D7D7D;
         @include adaptiveValue("gap", 18, 14, 0, 767.98, 320);
         line-height: 1.46;
      }

      & p:not(:last-child) {
         margin-bottom: toRem(15);
      }
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: toRem(23);
   }

   &__list-item {
      min-height: toRem(30);
      background: url("../img/business-plan/mark.svg")left no-repeat;
      color: #37393F;
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 20, 18, 0, 767.98, 320);
      padding-left: toRem(35);
      line-height: 1.85;
   }

   &__benefits {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 37, 20, 0, 767.98, 320);
      
   }

   &__benefits-items {
      display: flex;
      gap: toRem(21);
      max-width: toRem(613);
      @media (max-width: toRem(1150)) {
         flex-wrap: wrap;
      }
      @media (max-width: toRem(644)) {
         justify-content: center;
      }
   }

   &__benefits-item {
      border: toRem(1) solid #E3E3E3;
      padding: toRem(32);
      max-width: toRem(296);
   }

   &__content {
      display: flex;
      gap: toRem(19);

      & img {
         align-self: flex-start;
      }
   }

   &__content-text {
      & p {
         color: #7D7D7D;
         font-size: 1rem;
         line-height: 1.35;
      }
   }

   &__content-title {
      @extend %contentTitle;
      margin-bottom: toRem(3);
   }

   &__benefits-link {
      color: #FFF;
      font-size: toRem(18);
      padding: toRem(21) toRem(27);
      font-weight: 600;
      text-transform: capitalize;
      background-color: #6B77E5;
      max-width: toRem(185);
      @media (max-width: toRem(767.98)) {
         align-self: center;
      }
      &:hover {
         background-color: #4958df;
      }
   }
}

.logos-page {
   @include adaptiveValue("margin-bottom", 82, 28, 0, 1920, 320);

   &__construction {
      max-width: toRem(1145);
      margin: 0 auto;
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: toRem(15);
   }

   &__logo {
      display: flex;
      justify-content: center;
      align-content: center;
      & img {
         max-width: toRem(171);
         max-height: toRem(99);
      }
   }
}

.solutions-page {
   @include adaptiveValue("margin-bottom", 100, 27, 0, 1920, 320);
   &__titles {
      text-align: center;
      max-width: toRem(495);
      margin: 0 auto;
      @include adaptiveValue("margin-bottom", 40, 20, 0, 1920, 320);
   }

   &__label {
      @extend %sectionLabel;
      color: #37393F;
      font-weight: 500;
      line-height: 1;
      display: inline-block;
   }

   &__title {
      @extend %sectionTitle;
   }
   
   &__cards {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
      column-gap: toRem(32);
      @include adaptiveValue("row-gap", 27, 18, 0, 641.98, 320);
   }

   &__card {
      background-color: #F4F4F4;
      padding: toRem(30);
   }

   &__body {
      display: flex;
      justify-content: space-between;
      gap: toRem(10);

      & img {
         align-self: flex-start;
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 27, 15, 0, 641.98, 320);
   }

   &__card-title {
      color: #37393F;
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 25, 18, 0, 1920, 320);
      font-weight: 600;
      line-height: 1.27;
   }

   &__link {
      color: #6B77E5;
      @include adaptiveValue("font-size", 18, 15, 0, 1920, 320);
      font-weight: 600;
      text-transform: capitalize;
      &:hover {
         text-decoration: underline;
      }
   }

   &__button {
      text-align: center;
      background-color: #6B77E5;
      color: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: toRem(25);
      font-weight: 600;
      text-transform: capitalize;
      &:hover {
         background-color: #4958df;
      }
      @media (max-width: toRem(641.98)) {
         padding: toRem(30) 0;
      }
   }
}

.footer {
   background-color: #37393F;
   color: #fff;
   @include adaptiveValue("padding-top", 95, 35, 0, 1920, 320);
   @include adaptiveValue("padding-bottom", 95, 35, 0, 1920, 320);
   &__container {
      text-align: center;
   }

   &__contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiveValue("padding-bottom", 54, 18, 0, 1920, 320);
      @include adaptiveValue("margin-bottom", 50, 16, 0, 1920, 320);
      border-bottom: toRem(1) solid #6C6D72;
      gap: toRem(20);
      text-align: left;
      @media (max-width: toRem(476.98)) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }

   &__logo {
      text-align: left;
      @media (max-width: toRem(476.98)) {
         margin-bottom: toRem(15);
      }
   }

   &__contacts-items {
      display: flex;
      flex-wrap: wrap;
      @include adaptiveValue("column-gap", 60, 15, 0, 1920, 320);
      row-gap: toRem(10);
      text-align: left;
      @media (max-width: toRem(706.98)) {
         justify-content: center;
      }
   }

   &__contacts-item {
      display: flex;
      align-items: center;
      gap: toRem(10);
      & img {
         @media (max-width: toRem(706.98)) {
         
      }
      
   }
   }

   &__contact {
      
   }

   &__contact-title {
      margin-bottom: toRem(12);
   }

   &__contact-link {
      &:hover {
         text-decoration: underline;
      }
   }

   &__navigation {
      text-align: left;
      @include adaptiveValue("padding-bottom", 54, 18, 0, 1920, 320);
      @include adaptiveValue("margin-bottom", 22, 18, 0, 1920, 320);
      border-bottom: toRem(1) solid #6C6D72;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: toRem(15);
   }

   &__menus {
      display: flex;
      @include adaptiveValue("column-gap", 100, 15, 0, 1920, 320);
      row-gap: toRem(15);
      flex-wrap: wrap;
   }

   &__links {
   }

   &__menu-title {
      background: url(../img/footer/quadrat.svg)no-repeat left;
      color: #40DDB6;
      font-family: "Poppins", sans-serif;
      font-size: toRem(20);
      font-weight: 600;
      padding-left: toRem(18);
      margin-bottom: toRem(20);
   }

   &__list {
   }

   &__list-item {
      color: #FFF;
      font-size: toRem(18);
      line-height: 2.2;
      & a {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__subscribe {
      padding: toRem(42) toRem(38);
      background-color: #474950;
      @include adaptiveValue("padding-top", 42, 22, 0, 477.78, 320);
      @include adaptiveValue("padding-bottom", 42, 22, 0, 477.78, 320);
      @include adaptiveValue("padding-left", 38, 18, 0, 477.78, 320);
      @include adaptiveValue("padding-right", 38, 18, 0, 477.78, 320);
   }

   &__subscribe-content {
      max-width: toRem(407);
   }

   &__subscribe-text {
      & p:last-of-type {
         margin-bottom: toRem(20);
      }
   }

   &__subscribe-phrase {
         font-size: toRem(18);
         line-height: 2.2;
   }

   &__subscribe-title {
      font-family: "Poppins", sans-serif;
      font-size: toRem(20);
      font-weight: 600;
      margin-bottom: toRem(6);
   }

   &__email {
      & form {
         display: flex;
         & input {
            padding: toRem(22) 0 toRem(22) toRem(27);
            @media (max-width: toRem(477.98)) {
               padding-left: 0;
               text-align: center;
            }
         }
         & button {
            background-color: #6B77E5;
            padding: toRem(22) toRem(27);
            max-width: toRem(479);
            &:hover {
               background-color: #4958df;
            }
         }
         @media (max-width: toRem(477.98)) {
            flex-direction: column;
         }
      }
   }



   &__information {
      display: flex;
      justify-content: space-between;
      text-align: left;
      gap: toRem(20);
   }

   &__rights {
      justify-self: flex-start;
   }

   &__social {
      display: flex;
      gap: toRem(12);
      justify-self: flex-end;
      flex-wrap: nowrap;
   }

   &__social-icons {
      display: flex;
      gap: toRem(16);
      flex-wrap: wrap;
   }

   &__social-icon {
      width: toRem(17.1);
      height: toRem(16.455);
      transition: transform 0.3s;
      &:hover {
         transform: scale(1.3);
      }
   }
}


